includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 1

    reportUnmatchedIgnoredErrors: false

    paths:
        - 'src/'

    excludePaths:
        # Vendor files in subpackages
        - '**/Bundle/*/vendor/**.php'
        - '**/Component/*/vendor/**.php'

        # Deprecated classes
        - 'src/Sylius/Bundle/CoreBundle/Application/Kernel.php'

    ignoreErrors:
        - '/Access to an undefined property Doctrine\\Common\\Collections\\ArrayCollection/'
